* {
  font-family: "Futura";
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#root{
  height: 5%;
}

.App {
  display: "flex";
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.App div {
  height: 100%;
}

#btn_start{
  width: 20%;
  height: 100%;
  font-size: larger
}

.App div p{
  font-size: large;
}

.App div input{
  width: 20%;
  height: 80%;
}

#btn_guess{
  height: 100%;
}

#btn_restart{
  width: 20%;
  height: 100%;
  font-size: larger
}

